<div class="row mt-5">
    <div class="col-4 col-offset-4">
        <form action="/signIn" method="post" id ="in">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control"  placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" name="pass" class="form-control"  placeholder="name@example.com">
            </div>
            <button  type="submit" class="btn btn-warning">Send</button>
        </form>
    </div>
</div>
